nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-orange {
    color: orange;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.button-primary {
    border-radius: 5px;
    background: orange;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}